<article>
	<h2>About</h2>
	<p>This Ruby on Rails blog application was built as an exploration into the various aspects of building in Rails, and to satisfy the final project requirements of the CodeFellows Evening Rails Class.</p>

	<p>The blog simply consists of once-daily posts that document my general level of activity and mood during the day. When read on the detail/show page, the daily step count and previous night's sleep totals are listed along with the blog post.</p>

	<p>You can sign up to be a user so that you can create comments for each post on the detail/show page. The primary user (me!) is marked as an admin so that I can update posts, delete them or delete comments.</p>
</article>
